body {
   
   
   
    background-size: cover;
    background-position: center;
    color: #323f4b;
  
}

.card {
    background-color: #f6c56e;
    display: block;
    padding: 20px;
    border-radius: 20px;
    margin: px;
    text-align: center;
    max-width: 1350px;
    font-size: 40px;
        
    
    
}
button {
    background-color:rgb(187, 226, 46);
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    
}
button:hover{
    background-color: #15110a;
}

   

   
    